
body {
    background-color: black;
    color: yellow;
}

h2 {
    background-color: red;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin: 50px 10px 20px 70px; /*top right bottom left */
    padding: 20px;
}

img {
    width: 400px;
    border: 10px solid rgb(31, 199, 48);
    border-radius: 20px;
}
